@inherits LayoutComponentBase
@using TO_BDD.Models
@using TO_BDD.Providers
@using TO_BDD.Services
@inject LoginStateProvider _loginState
@inject NavigationManager _nav
<PageTitle>TO-BDD</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            @if(_loginState.IsUserLoggedIn()) {
                <MudButton Variant="Variant.Filled" OnClick="Logout">Logout</MudButton>
            }
        </div>

        @*<article class="content px-4">
            @Body
        </article>*@
        <CascadingValue Value="@cartService">
            @Body
        </CascadingValue>
    </main>
</div>

@code{
    private CartService cartService = new CartService();
    private void Logout() {
        _loginState.LogUserOut();
        _nav.NavigateTo("/login");
    }
}
